.automation {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.container {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--purple);
    color: black;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Ubuntu';
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container > p {
    text-overflow: clip;
}

.container:hover {
    filter: brightness(105%);
}

.inputContainer {
    margin-top: 0.4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--selection);
    border-radius: 0.3rem;
    border: 0.2px solid rgba(128, 128, 128, 0.237);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inputContainer > input {
    outline: none;
    background-color: var(--background);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border-radius: 0.3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputContainer > textarea {
    max-width: 100%;
    min-width: 100%;
    background-color: var(--background);
    min-height: 8rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputContainer > li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.inputContainer > li > button:first-child {
    font-size: 1rem;
    color: white;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 2px;
    box-shadow: var(--purple) 2px 2px 0px 1px;
    border: none;
    filter: brightness(110%);
}

.inputContainer > li > button {
    font-size: 1rem;
    color: white;
    background-color: var(--red);
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 2px;
    border: none;
}

.inputContainer > li > button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.inputContainer > li > button:first-child:hover {
    box-shadow: none;
    border: 1.5px solid var(--purple);
    background-color: transparent;
    cursor: pointer;
}

/* error logs */

.inputContainer > div {
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 0.3rem;
    font-family: 'Ubuntu';
    color: var(--red);
    flex-direction: column;
    gap: 0.3rem;
}

.inputContainer > div > h5 {
    font-size: 1rem;
}

.inputContainer > p {
    font-weight: 800;
    font-size: 0.6rem;
}
