.input {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 1000px) {
    .input > textarea {
        min-width: 70%;
        max-width: 70%;
        width: 70%;
    }
}

.input > textarea {
    width: 50rem;
    font-size: 1rem;
    color: white;
    border-radius: 0.3rem;
    max-height: 3.5rem;
    min-height: 3.5rem;
    background-color: var(--current-line);
    outline: none;
    padding: 0.2rem;
    padding-bottom: 1rem;
    z-index: 9999;
}

.input > textarea:focus {
    border: 0.1px solid var(--purple);
    background-color: var(--background);
}

.input > button {
    max-height: 3.5rem;
    min-height: 3.5rem;
    padding: 1.2rem;
    color: var(--green);
    background-color: var(--current-line);
    border: none;
    border-radius: 0.2rem;
    margin-left: 0.3rem;
    font-size: 1rem;
    border: 1px solid rgb(118, 118, 118);
}

.input > button:hover {
    font-size: 1.1rem;
    border: 0.1px solid var(--purple);
    cursor: pointer;
    background-color: var(--background);
}
